body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 40px;
}

.give-color {
    color: coral;
}

.bold {
    font-size: 30px;
    color: darkblue;
}

.flexible-container {
    display: flex;
}

.half-width {
    width: 50%;
    padding: 10%;
}

.half-width img {
    width: 100%;
}

.Button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.Top-Banner {
    background-image: url(Resource-from-PH/developer-portfolio-master/images/top-banner.png);
    background-repeat: no-repeat;
}

.Become-a-Developer {
    background-image: url(Resource-from-PH/developer-portfolio-master/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
}

.Experiences {
    background-image: url(Resource-from-PH/developer-portfolio-master/images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-area {
    width: 50%;
    box-shadow: 10px 10px 40px grey;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}

#Research-assistant {
    border-left: 10px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

#Collaborator {
    border-left: 10px solid;
    border-image: linear-gradient(red, tomato);
    border-image-slice: 1;
}

footer p {
    text-align: center;
}